<!DOCTYPE html>
<html ng-app="inventory">
<head>
	<!--Google Font-->
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
	<title>Example Project</title>
	<!--Bootstrap CDN-->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!--CSS style sheet-->
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body ng-controller='HeaderController as header'>

	<form ng-submit="header.saveBlog()">
	<input class="form-control" placeholder="Title" ng-model="header.form.title">	
  	<textarea class="form-control" placeholder="Description" ng-model="header.form.description"></textarea>
  	<input class="btn btn-primary" type="submit" value="GO">
	<ul>
		<li ng-repeat="blog in header.blogs | orderBy:'-posted'">
			<h4>{{blog.title}}</h4>
			<p>{{blog.description}}</p>
		</li>
	</ul>

	<!--link to JS file-->
	<script src="node_modules/angular/angular.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/factories/logger.js"></script>
	<script src="js/controllers/header.js"></script>
</body>
</html>
